.nav {
    position: sticky;
    top: 0;
    background: var(--background-color);
    padding: clamp(0.5rem, 1vw + 0.2rem, 1rem) clamp(1rem, 2vw + 0.5rem, 3rem);
    border-bottom: 1px solid var(--stroke);
    backdrop-filter: blur(12px);
    z-index: 100;
}

.navInner {
    max-width: 1600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}
span {
    font-size: 32px;
}

span a {
    text-decoration: none;
    color: var(--navbar-text-color);
}

.menu {
    display: flex;
    align-items: center;
    gap: clamp(0.75, 1vw, 1.5rem);
    list-style: none;
}

.menu a {
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    font-size: clamp(0.9rem, 0.9vw, 1.05rem);
    font-weight: bold;
    color: var(--navbar-text-color);
    transition: 0.2s;
}

.menu a:hover {
    text-shadow: 0 0 10px var(--text-color);
}

.menuToggle {
    display: none;
}
 
.hamburger {
    display: none;
    width: clamp(40px, 6vw, 45px);
    height: clamp(40px, 6vw, 45px);
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: rgba(225, 225, 225, 0.06,);
    cursor: pointer;
}

.hamburger span,
.hamburger span::before,
.hamburger span::after {
    display: block;
    width: 18px;
    height: 2px;
    background: #fff;
    position: relative;
    content: "";
    transition: transform 0.25s ease, top 0.25s ease, background 0.25s ease;
    transform-origin: center;
}

.hamburger span::before {
    position: absolute;
    top: -6px;
}

.hamburger span::after {
    position: absolute;
    top: 6px;
}



@media (max-width: 800px) {
    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        background: rgba(8, 10, 14, 0.9);
        backdrop-filter: blur(12px);
        max-height: 0;
        padding: 0;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease;
    }

    .menu li{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        border-bottom: 1px solid #b6c0c9;
        color: var(--navbar-text-color);
    }

    .menu li a {
        padding: 10px 0;
        color: var(--navbar-text-color);
    }

    .menuToggle:checked~.menu {
        max-height: 100vh;
        height: 100vh;
    }

    .menuToggle:checked~.menu {
        max-height: 100vh;
        height: 100vh;
        padding: 1.5rem 0;
        opacity: 1;
        pointer-events: auto;
    }

    .hamburger {
        display: flex;
    }

    .menuToggle:checked~.hamburger span {
        background: transparent;
    }

    .menu-toggle:checked~.hamburger span::before {
        top: 0;
        transform: rotate(45deg);
    }
    .menu-toggle:checked~.hamburger span::after {
        top: 0;
        transform: rotate(-45deg);
    }
}